@media (max-width: 767px) {
	.header {
		margin-top:50px !important;
	}

	.header h1 {
		font-size:50px !important;
	}

	.work {
		margin-top:25px !important;
	}

	.work h3 {
		font-size:25px !important;
		text-align:center;
		margin-bottom:40px;
	}

	.contact h1 {
		margin-bottom:15px !important;
	}

	.contact h3 {
		font-size:25px !important;
		text-align:center;
		margin-bottom:15px;
	}
}

.header {
	margin-top:150px;
}

.header h1 {
  font-family: "brandon-grotesque";
  font-weight:900;
  font-size:60px;
  margin-bottom:30px;
}

.header p {
	font-family: "ff-meta-serif-web-pro";
	font-size:18px;
	line-height:30px;
}

.header h3 {
	margin-top:30px;
	font-family: "brandon-grotesque";
	font-size:15px;
	font-weight:700;
	color:#bfbfbf;
}

.header a {
	border-bottom:3px solid #2B00FF;
	color:#333;
}

.header a:hover {
	text-decoration: none;
	cursor:pointer;
	border-bottom:4px solid #2B00FF;
}

.work {
	margin-top:50px;
}

.work h1 {
  font-family: "brandon-grotesque";
  font-weight:900;
  font-size:25px;
  margin-bottom:0px;
}

.work p {
	font-family: "ff-meta-serif-web-pro";
	font-size:16px;
	line-height:25px;
}

.work h2 {
	font-family: "brandon-grotesque";
	font-size:18px;
	font-weight:700;
}

.work h3 {
	margin-top:30px;
	font-family: "brandon-grotesque";
	font-size:15px;
	font-weight:700;
	color:#bfbfbf;
}

.work h4 {
	font-family: "brandon-grotesque";
	font-size:15px;
	font-weight:700;
	margin-bottom:20px;
	margin-top:3px;
}

.work a {
	border-bottom:3px solid #2B00FF;
	color:#333;
}

.work a:hover {
	text-decoration: none;
	cursor:pointer;
	border-bottom:4px solid #2B00FF;
}

.work img {
	margin: 0px 0px 10px 0px;
}

#btn {
	border: 0px;
}

#logo {
	margin-top:8px;
}

.contact {
	margin-top:50px;
}

.contact h1 {
  font-family: "brandon-grotesque";
  font-weight:900;
  font-size:60px;
  margin-bottom:30px;
}

.contact p {
	font-family: "ff-meta-serif-web-pro";
	font-size:18px;
	line-height:30px;
	margin-bottom:20px;
}

.contact h3 {
	margin-top:30px;
	font-family: "brandon-grotesque";
	font-size:15px;
	font-weight:700;
	color:#bfbfbf;
}

.contact h4 {
	font-family: "brandon-grotesque";
	font-size:16px;
	font-weight:700;
	margin-bottom:25px;
}

.contact a {
	border-bottom:3px solid #2B00FF;
	color:#333;
}

.contact a:hover {
	text-decoration: none;
	cursor:pointer;
	border-bottom:4px solid #2B00FF;
}